.wrappingParent {
    display: flex;
    padding: 2em;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-container {
    width: 23em;
    padding: 1em 20px;
    background-color: #ffff;
    border-radius: 5px;
    margin-right: 1em;
    margin-left: 3em;
    height: fit-content;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.25);
}

mat-card {
    margin-bottom: 2em;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.25);
}

.cdk-drop-list {
    min-height: 200px;
    min-width: 200px;
}

.btn-align-right {
    float: right;
    margin-right: 1.5em;
    background-color: #6478d8;
}

.example-container .h2 {
    color: #999de4;
    font-weight: bold;
}

.example-container i {
    color: #999de4;
    font-weight: bold;
    float: right;
}

.h2-title {
    font-size: 30px;
    margin: 0.3em 0.5em 0.5em;
}

.pen,
.time {
    color: #d6d4df !important;
}

.time {
    font-weight: normal !important;
}

.cdk-drop-list {
    min-height: 200px;
    min-width: 200px;
}