.wrappingParent {
    display: flex;
    padding: 2em;
}

.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-container {
    padding: 1em;
}

mat-card {
    margin-bottom: 2em;
    border-radius: 23px;
}