<nav class="navbar navbar-expand-lg 
navbar-light">
    <div class="row w-100">
        <div class="col-6 form-group has-search">
            <i class="material-icons form-control-feedback">search</i>
            <input type="text" class="form-control" placeholder="search...">
        </div>

        <div class="col-6 admin">
            <span>Ahmed Ali <br> &nbsp;&nbsp;Admin</span>
            <img class="rounded-circle w-4" src="../../../assets/avatar6.png" alt="" srcset="">
        </div>
    </div>


</nav>